body {
  background-image: url("Background-2.png"), url("Background-6.png") ;
  height: 100vh;
  background-repeat: no-repeat, no-repeat;
  /* background-position: right; */
  background-position: right bottom, left bottom;
  background-size: 40%;
  font-family: courier,arial,helvetica;

}


#navBar1 {
    text-emphasis-color: white;
    background-color: #762766;
    background-image: url("Background-5.png") ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}
#navBarLinks {
    text-align: right;
}


#navBar2 {
  text-emphasis-color: white;
  background-color: #f2ba32;
  /* background-image: url("Background-7.png") ;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%; */

  /* padding-bottom: 0px; */
}



.uk-grid {
  padding-top: 50px;
}

.cancelbtn, .saveUserbtn, .uk-button {
  background-color: #762766;
}

.cancelbtn, .saveUserbtn {
  color: white;
  background-color: #762766;
}

.clearfix {
  padding-top: 10px;
}

progress{
    border: black;
    width: 20px;
    height: 20px;
    background-color: white;
    /* float:  */
}

.adorable-avatar {
  padding: 10px;
  float: left;
}

/* The button to invite Friends */
.uk-button-default { 
    background-color: #f2ba32;
    margin-top: 90px;
    margin-right: 50px;
    color: white;
    border-color: #ea5455;
   } 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
